.Autocomplete-searchResultList {
  position: absolute;

  margin: 0;
  padding: 0;

  background-color: white;
  border: 1px solid #eeeeee;

  list-style-type: none;
}

.Autocomplete-searchResult {
  width: 100%;

  padding: 10px;
  margin: 5px 0;

  border: 0;
  text-align: left;
}
.Autocomplete-searchResult:hover,
.Autocomplete-searchResult:focus {
  background-color: #eeeeee;
}
